<section class="mainbar" data-ng-controller="employeedetail as vm">
    <section class="matter">
        <div class="container-fuild">
            <div>
                <button class="btn btn-info"
                        data-ng-click="vm.goBack()">
                    <i class="glyphicon glyphicon-hand-left"></i>Back
                </button>
                <!--<button class="btn btn-info"
                        data-ng-click="vm.cancel()"
                        data-ng-disabled="!vm.canSave">
                    <i class="glyphicon glyphicon-remove"></i>Cancel
                </button>-->
                <button class="btn btn-info"
                        data-ng-click="vm.save()"
                        data-ng-disabled="!vm.canSave">
                    <i class="glyphicon glyphicon-save"></i>Save
                </button>
               <button class="btn btn-danger"
                        data-ng-click="vm.deleteEmployee()">
                    <i class="glyphicon glyphicon-trash"></i>Delete
                </button>

             
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header
                     title="Edit {{vm.employee.Name || 'New Employee'}} "></div>
                <div class="widget-content user-details">
                    <div>
                        <label>Employee ID</label>
                        <input data-ng-model="vm.employee.EmployeeID" class="form-control"
                               data-z-validate
                               placeholder="Employment ID" />
                    </div>
                    <div>
                        <label>Name</label>
                        <input data-ng-model="vm.employee.Name" class="form-control"
                               data-z-validate
                               placeholder="Name" />
                    </div>
                    <div>
                    <label>Address</label>
                    <input data-ng-model="vm.employee.address" />
                     </div>
                    <div>
                    <label>Age</label>
                    <input data-ng-model="vm.employee.Age" />
                        </div>
                    <div>
                        <label>Employment</label>
                        <input data-ng-model="vm.employee.Employment" />
                    </div>
                    <div>
                        <label>Active</label>
                        <input data-ng-model="vm.employee.Active" />
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>